<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon 추가 -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v={{ .Site.Params.faviconVersion }}">

    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <nav>
    <ul class="menu">
      <li>
	<a href="/">
	  <img src="/favicon-32.png" alt="" style="width: 32px; height: 32px; vertical-align:middle; margin-right: 0px;"/>
	  {{ (site.Params.label.text | default site.Title) }}
	</a>
      </li>
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr/>
    </nav>
